
<h1>Send Message to <%= @channel.name %> </h1>


<%#no model, so no form_for available %>
<%= form_tag create_message_path, method: "post" do %>
  <%= label_tag(:message, "Enter Message") %>
  <%= text_field_tag(:message) %>
  <%= submit_tag("Send") %>
<% end %>
